html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #f5f5f5;
}

.main {
  width: 400px;
  margin: 0 auto;
  background: #ffffff;
  height: 100vh;
  position: relative;
}

.container {
  padding: 10px;
}

.line {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 10px;
}

.search {
  border-radius: 25px;
  border: 1px solid #f5f5f5;
  display: block;
  padding: 10px;
  background: url('./assets/search.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 10px center;
  position: relative;
}

.search__input {
  padding: 5px;
  width: calc(100% - 30px);
  border: 0;
  margin-left: 30px;
  outline: none;
  font-size: 14px;
}

.search__reset {
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 28px;
  background: transparent;
  border: 0;
  color: red;
  cursor: pointer;
}

.btn-add {
  width: 40px;
  height: 40px;
  display: block;
  background: #00a1ff;
  border-radius: 50%;
  padding: 10px;

  position: absolute;
  bottom: 20px;
  right: 20px;
}

.btn-edit img {
  width: 18px;
  height: 18px;
}

.btn-action {
  width: 100%;
  background: #6d6d6d;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
}

.list-wrapper {
  height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
}

.list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px;
}

.list__avatar {
  width: 40px;
  height: 40px;
  background: #ededed;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 2.5;
  margin-right: 10px;
}

.list__info-name {
  font-size: 16px;
  margin: 0;
}

.list__info-phone {
  font-size: 14px;
  margin: 0;
}

.list__action {
  flex: 1;
  text-align: right;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 12px;
}

.form-input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f5f5f5;
  padding: 10px;
  margin: 5px 0;
}

.form-error {
  font-size: 10px;
  color: red;
}

.heading {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  background: #00a1ff;
  padding: 5px;
}

.heading__nav {
  position: absolute;
}

.heading__nav img {
  width: 10px;
  margin-right: 5px;
}

.heading__nav a {
  color: #fff;
  text-decoration: none;
}

.heading__title {
  flex: 1;
}

.heading__title h1 {
  color: #ffffff;
  font-size: 18px;
}

.success {
  background-color: #23d160;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
}